@{
    ViewData["Title"] = "Home Page";
    var latestArticle = ViewBag.latestArticle;
    var articleListsByCategory = ViewBag.articleListsByCategory;
    var categoryList = ViewBag.categoryList;
}
<br/>
<div class="jumbotron">
    <h1>@latestArticle.Title</h1>
    <br/>
    <p class="text-right"><a class="btn btn-primary btn-lg" href="/Home/Article?id=@latestArticle.Id" role="button">了解最新消息</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@categoryList[0].Name</h2>
        <ul class="list-unstyled">
            @foreach (var article in articleListsByCategory[0])
            {
                <li>
                    <a href="/Home/Article?id=@article.Id">@article.Title</a>
                </li>
            }
            <li>
                <a href="/Home/Category?id=@categoryList[0].Id">.....</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>@categoryList[1].Name</h2>
        <ul class="list-unstyled">
            @foreach (var article in articleListsByCategory[1])
            {
                <li>
                    <a href="/Home/Article?id=@article.Id">@article.Title</a>
                </li>
            }
            <li>
                <a href="/Home/Category?id=@categoryList[1].Id">.....</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>@categoryList[2].Name</h2>
        <ul class="list-unstyled">
            @foreach (var article in articleListsByCategory[2])
            {
                <li>
                    <a href="/Home/Article?id=@article.Id">@article.Title</a>
                </li>
            }
            <li>
                <a href="/Home/Category?id=@categoryList[2].Id">.....</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Run &amp; Deploy</h2>
        <ul class="list-unstyled">
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a>
            </li>
            <li>
                <a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a>
            </li>
            <li>
                <a href="#">......</a>
            </li>
        </ul>
    </div>

</div>
